# Import libraries

In [1]:
import sys
sys.path.append('modules')

# Import Custom Modules
import modules.source as src
import modules.target as tgt

### Setting local varibale

In [2]:
is_debugging = 1

wtb_1_any_ds_url   = "https://finance.yahoo.com/quote/"
wtb_2_any_ds_path  = "NVDA/history/?period1=1709544776&period2=1741080767&filter=history" 
wtb_3_any_ni_index = "0"

nm_target_schema = "tsl_psa_yahoo_exchange_rate"
nm_target_table  = "tsl_eur_x_usd"

## Extract web table from Yahoo Finance

In [4]:
# Import for web_table_anonymous_web
import pandas as pd
import time
from selenium.webdriver.common.by import By as by
from selenium                     import webdriver
from bs4                          import BeautifulSoup
from io                           import StringIO

In [5]:
# Initialize the WebDriver (e.g., Chrome)
driver = webdriver.Chrome()

# Open the webpage
driver.get(wtb_1_any_ds_url + wtb_2_any_ds_path)

# Wait for the page to load (you might need to adjust the sleep time)
time.sleep(2)

try: # Find and click the "Accept Cookies" button (adjust the selector as needed)
    accept_button = driver.find_element(by.XPATH, '//button[text()="Alles accepteren"]')
    accept_button.click()

    # Wait for the page to load after accepting cookies
    time.sleep(2)

except Exception as e:
    # Code to handle any other exceptions
    print(f"An unexpected error occurred: {e}")        

# Get the page source after accepting cookies
page_source = driver.page_source

# Close the browser
driver.quit()

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Create a StringIO object
table = StringIO()

# Find the table in the webpage (you might need to adjust the selector based on the webpage structure)
table.write(str(soup.find('table')))

# Read the table into a pandas DataFrame
pandas_df = pd.read_html(table.getvalue())[int(wtb_3_any_ni_index)]

C:\Users\mehme\AppData\Local\Temp\ipykernel_11128\2729191092.py:37: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pandas_df = pd.read_html(table.getvalue())[int(wtb_3_any_ni_index)]

In [6]:
pandas_df

,Date,Open,High,Low,Close Close price adjusted for splits.,Adj Close Adjusted close price adjusted for splits and dividend and/or capital gain distributions.,Volume
0,"Mar 3, 2025",123.51,123.70,112.28,114.06,114.05,411381400
1,"Feb 28, 2025",118.02,125.09,116.40,124.92,124.91,389091100
2,"Feb 27, 2025",135.00,135.01,120.01,120.15,120.14,443175800
3,"Feb 26, 2025",129.99,133.73,128.49,131.28,131.27,322553800
4,"Feb 25, 2025",129.98,130.20,124.44,126.63,126.62,271428700
...,...,...,...,...,...,...,...
250,"Mar 7, 2024",90.16,92.77,89.60,92.67,92.64,608119000
251,"Mar 6, 2024",88.02,89.72,87.03,88.70,88.67,582520000
252,"Mar 5, 2024",0.00 Dividend,0.00 Dividend,0.00 Dividend,0.00 Dividend,0.00 Dividend,0.00 Dividend
253,"Mar 5, 2024",85.27,86.10,83.42,85.96,85.94,520639000
254,"Mar 4, 2024",84.13,87.69,83.72,85.24,85.20,615616000